/*#measure {
  width: 60px;
  margin-right: 5px;
}

#units {
  width: 40px;
  margin-right: 5px;
}*/

#amount {
  width: 100px;
  margin-right: 5px;
}

#ingredient {
  width: 255px;
  color: #AAA;

  &.valid {
    color: #666;
  }

}

#search {
  display: block;
  transition: height 0.5s;
  padding-left: 110px;

  span {
    display: block;
    cursor: pointer;
  }
}
