<!--input #measure id="measure" type="text" class="p" placeholder="amount" [(ngModel)]="part.amount.measure">
<input #units id="units" type="text" class="p" placeholder="units" [(ngModel)]="part.amount.units"-->
<input #amount id="amount" type="text" class="p" placeholder="amount" [(ngModel)]="part.amount">
<input #ingredient id="ingredient" type="text" class="p" placeholder="ingredient" autocomplete="off"
       [(ngModel)]=ingredientName
       [ngModel]=ingredientName
       [class.valid]=validItem
       (keydown)="onKeyDown($event)">
<span #add class="add">+</span>
<span *ngIf="index > 0" #remove class="delete">&times;</span>
<div id="search">
  <span *ngFor="let ingredient of searchItems" (mousedown)="setIngredient(ingredient)">{{ ingredient.name }}</span>
</div>
