#amount {
  width: 100px;
  margin-right: 5px;
}

#ingredient {
  width: 260px;
  color: #AAA;

  &.valid {
    color: #666;
  }

}

#search {
  display: block;
  transition: height 0.5s;
  padding-left: 110px;

  span {
    display: block;
    cursor: pointer;
  }
}
