<form name="recipe">
  <input name="name" type="text" class="h1" placeholder="Name">
  <textarea name="description" class="p" placeholder="Description"></textarea>
  <h2>Ingredients</h2>
  <ul id="ingredients">
    <li>
      <input type="text" class="p" placeholder="amount">
      <input type="text" class="p" placeholder="ingredient">
      <span class="add">+</span>
      <span class="delete">&times;</span>
    </li>
  </ul>
  <h2>Recipe</h2>
  <ol id="steps">
    <li>
      <input type="text" class="p" placeholder="step">
      <span class="add">+</span>
      <span class="delete">&times;</span>
    </li>
  </ol>
  <h2>Notes</h2>
  <textarea name="notes" class="p" placeholder="Notes"></textarea>
  <div class="buttons">
    <span class="button" (click)=[save()]>Save</span>
    <span class="button" (click)=[save(true)]>Save & New</span>
  </div>
</form>

<div id="ingredients-dropdown">
  <ul>

  </ul>
</div>
