<form name="recipe">
  <input name="name" type="text" class="h1" placeholder="recipe" [(ngModel)]="recipes.local.name">
  <textarea name="description" class="p" placeholder="description" [(ngModel)]="recipes.local.description"></textarea>
  <h2>ingredients</h2>
  <ul id="ingredients">
    <li *ngFor="let part of recipes.local.parts; let i = index">
      <app-part-editor [part]="part" [add]=makeAdd(recipes.local.parts) [remove]=makeRemove(recipes.local.parts) [index]=i>
      </app-part-editor>
    </li>
  </ul>
  <h2>steps</h2>
  <ol id="steps">
    <li *ngFor="let step of recipes.local.steps; let i = index">
      <app-step-editor [step]=step [add]=makeAdd(recipes.local.steps) [remove]=makeRemove(recipes.local.steps) [index]=i>
      </app-step-editor>
    </li>
  </ol>
  <h2>notes</h2>
  <textarea name="notes" class="p" placeholder="notes" [(ngModel)]="recipes.local.notes"></textarea>
  <div class="buttons">
    <span class="button" (click)=[save()]>save</span>
    <span class="button" (click)=[save(true)]>save & new</span>
    <span *ngIf="recipes.local.id" class="button" (click)=[delete()]>delete</span>
  </div>
</form>
