<div class="container">
  <div class="flex">
    <div class="left">
      <div class="navigation">
        <div id="recipes" class="section">
          <h3>Recipes</h3>
          <div class="dropdown">
            <a routerLink="/recipes">Library</a>
            <a routerLink="/recipes/new">New</a>
          </div>
        </div>
        <div id="ingredients" class="section">
          <h3>Ingredients</h3>
          <div class="dropdown">
            <a routerLink="/ingredients">Library</a>
            <a routerLink="/ingredients/new">New</a>
          </div>
        </div>
      </div>
    </div>
    <div class="right">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
