<div class="container">
  <div class="flex">
    <div class="left">
      <div class="navigation">
        <ng-container *ngIf="users.me; then authenticated else public"></ng-container>
      </div>
    </div>
    <div class="right">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

<ng-template #public>
  <div class="section">
    <h3><a routerLink="/recipes">recipes</a></h3>
    <div class="dropdown">
      <a routerLink="/login">login</a>
    </div>
  </div>
</ng-template>

<ng-template #authenticated>
  <div class="section">
    <h3><a routerLink="/recipes">recipes</a></h3>
    <div class="dropdown">
      <a routerLink="/recipes/new">new</a>
    </div>
  </div>
  <div class="section">
    <h3><a routerLink="/ingredients">ingredients</a></h3>
    <div class="dropdown">
      <!--a routerLink="/ingredients/stock">stock</a-->
      <a routerLink="/ingredients/new">new</a>
    </div>
  </div>
</ng-template>
