<div class="container">
  <div class="flex">
    <div class="left">
      <div class="navigation">
        <h1 id="space">&nbsp;</h1>
        <div id="recipes" class="section">
          <h3><a routerLink="/recipes">recipes</a></h3>
          <div class="dropdown">
            <a routerLink="/recipes/new">new</a>
          </div>
        </div>
        <div id="ingredients" class="section">
          <h3><a routerLink="/ingredients">ingredients</a></h3>
          <div class="dropdown">
            <a routerLink="/ingredients/stock">stock</a>
            <a routerLink="/ingredients/new">new</a>
          </div>
        </div>
      </div>
    </div>
    <div class="right">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
