#space {
  visibility: hidden;
}

.section {

  h3 { }

  /* Animated dropdown
  h3 {
    cursor: default;
  }

  .dropdown {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s, padding 0.3s;
  }

  h3:hover + .dropdown, .dropdown:hover {
    max-height: 120px;
    padding-bottom: 8px;
  }

  .dropdown a {
    cursor: pointer;
  }
  */

  .dropdown {
    margin-bottom: 12px;
  }

}
