<div *ngIf="recipe">
  <h1>{{ recipe.name }}</h1>
  <p>{{ recipe.description }}</p>
  <h2>Ingredients</h2>
  <ul>
    <li class="ingredient" *ngFor="let part of recipe.parts">
      {{ part.amount }}
      <a *ngIf="part.ingredient" routerLink="/ingredients/{{ part.ingredient.id }}">
        {{ part.ingredient.name }}
      </a>
    </li>
  </ul>
  <h2>Recipe</h2>
  <ol>
    <li *ngFor="let step of recipe.steps">
      {{ step.description }}
    </li>
  </ol>
  <h2>Notes</h2>
  <p>{{ recipe.notes }}</p>
  <div class="buttons">
    <a class="button" routerLink="/recipes/{{ recipe.id }}/edit">edit</a>
  </div>
</div>
