<div *ngIf="recipe">
  <h1>
    {{ recipe.name }}
    <a routerLink="/recipes/{{ recipe.id }}/edit">#</a>
  </h1>
  <p>{{ recipe.description }}</p>
  <h2>Ingredients</h2>
  <ul>
    <li class="ingredient" *ngFor="let ingredient of recipe.ingredients">
      {{ ingredient.amount }}
      <a routerLink="/ingredients/{{ ingredient.ingredient.id }}">
        {{ ingredient.ingredient.name }}
      </a>
    </li>
  </ul>
  <h2>Recipe</h2>
  <ol>
    <li *ngFor="let step of recipe.steps">
      {{ step }}
    </li>
  </ol>
  <h2>Notes</h2>
  <p>{{ recipe.notes }}</p>
</div>
